.folder {
    width: 928px;
    height: 1150px;
    background: url('../../images/folder-bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.file__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.print {
    width: 755px;
    height: 1050px;
    background-color: white;
    margin-left: 70px;
    margin-top: 65px;
    transform: rotate(-4deg);
    padding: 10px;
    box-sizing: border-box;
}