.footer {
  background: #d5d5d5;
  margin: 5px 0px 0px 0px;
  border: 2px solid black;
  width: 100%;

}

.footer__img {
  width: 137px;
  margin: -9px auto 0;
  margin-top: -6px;
  margin-right: auto;
  margin-bottom: -9px;
  margin-left: auto;
}