.experience-box {
    border: 2px solid black;
    width: 100%;
    margin-right: 0;
    padding: 4px 3px 0;
}
.heading {
    background: #d5d5d5;
    margin-bottom: 10px;
}
.experience__inner {
    display: flex;
    flex-direction: column;
}
.experience-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.period-box {
    border: 2px solid black;
    max-width: 230px;
    width: 100%;
    background: #d5d5d5;
    text-align: end;
}
.title {
    font-size: 20px;
    line-height: 20px;
}
.description-box {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    min-width: 450px;
}