.experience-box {
    border: 2px solid black;
    width: 100%;
    margin-right: 0;
    padding: 4px 3px 0;
}

.heading {
    font-size: 25px;
    background: #d5d5d5;
    margin: 2px;
    margin-bottom: 5px;
}

.experience__inner {
    display: flex;
    flex-direction: column;
}

.experience-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.period-box {
    margin-left: 2px;
    border: 2px solid black;
    max-width: 230px;
    width: 100%;
    background: #d5d5d5;
    text-align: end;
}

.title {
    font-size: 20px;
    line-height: 20px;
    margin: 5px;
}

.description-box {
    margin-right: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    min-width: 470px;
}